In [9]:
import yfinance as yf
import requests
import pandas as pd
import datetime as dt
import time
from datetime import timedelta
from prod.model import *
from functools import reduce
from yahoo_fin import stock_info as si
import numpy as np
import gspread
import pandas as pd
from oauth2client.service_account import ServiceAccountCredentials
import pygsheets

gc = pygsheets.authorize(service_file='key.json')

#open the google spreadsheet 
sh = gc.open_by_url('https://docs.google.com/spreadsheets/d/1HOLOArAJ7itQALLOE4Gvn63qwPscZU-_5wyHyTU0GHw/edit#gid=0')

#select the first sheet 
wks = sh[0]

#update the first sheet with df, starting at cell B2. 
wks

In [23]:
data=wks.get_as_df(has_header=True, index_column=None, start=0, end=None,)
data["perc"]=data["usd"].apply(lambda x: x/sum(data["usd"]))
data["date"]=dt.date.today()

In [20]:
data.to_json("../Data/purchase.json")

In [25]:
json

  tickers    usd      perc
0    AMZN   1000  0.088652
1     APP    230  0.020390
2      FB     50  0.004433
3   NETFX  10000  0.886525

json=pd.read_json("../Data/purchase.json")
json=json.to_dict('series')
tickers=list(json['tickers'])
perc=list(json['perc'])
tickers=dict(zip(tickers,perc))

{'AMZN': 0.0886524823,
 'APP': 0.0203900709,
 'FB': 0.0044326241,
 'NETFX': 0.8865248227}